:root {
  --dark: #000;
  --course: #00B0FC;
  --light: #fff;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,5em;
  line-height: 1.5;
  margin: 0;
}

/* Header  */

body > header > h1 {
  font-size: 7vw;
  text-align: center;
}

body > header > h2 {
  font-size: 2em;
  margin-top: 1.5em;
}

body > header > ul > li > a {
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20%;
}

body > header > ul {
  list-style: none;
}

/* Schilderijen  */

body > main > section {
  padding: 1rem;
  color: #000;
  opacity: 0;
  transition: 0.25s;
  display: block;
  width: 60%;
  height: 1500px;
  margin-left: auto;
  margin-right: auto;
}

body > main > section > h2 {
  font-size: 200px;
  text-align: left;
  margin-left: 50px;
}

body > main > section.active {
  opacity: 1;
}

section[data-route="vanGogh"] {
  background-color: #efb399;

}

section[data-route="RembrandtvanRijn"] {
  background-color: #d17249;
}

/* body > main > section > a {
  color: black;
  font-size: 50px;
} */



/* schilderijen */


 /* .rijksContainer li {
  width: 100px;
  height: 100px;
 } */
 
/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 100%;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
} */

/* .results img {
  width: 100px;
  height: 100px;
  object-fit: cover;
} */

/* Footer */

main > footer > p{
  color: white;
  font-size: 2em;
  margin-left: auto;
  text-align: center;
}
